.tieude {
	padding: 10px 0px 10px 0px;
	border: #E4E4E4 1px solid;
	font-size:16px;
	font-weight: bold;
	text-align: center;
	color:#3624c2;
}
.tableds {
	padding: 10px 0px 0px 0px;
	border: #E4E4E4 1px solid;
	font-size:12px;
	font-weight: bold;
	text-align: center;
	color:#3624c2;
}
.thu {
	padding: 0px 0px 0px 0px;
	border: #E4E4E4 1px solid;
	font-size:12px;
	font-weight: bold;
	text-align: center;
	color:#3624c2;
	background:#91bef4;
}

.bodertb {
	padding: 10px 0px 10px 0px;
	border: blue 1px solid;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	color:#3624c2;
}

.total {
	padding: 5px 0px 5px 0px;
	border: #E4E4E4 1px solid;
	font-size:12px;
	text-align: center;
	color:#3624c2;
}


#searchto{
	padding: 15px 0px 15px 0px;
	border: #E4E4E4 1px solid;
	margin: 6px 0px 6px 0px;
}

#searchtc{
	padding: 15px 0px 15px 0px;
	border: #E4E4E4 1px solid;
	margin: 6px 0px 6px 0px;
}

.danhsach {
	font-size:12px;
	font-weight: normal;
}
.danhsach td, .thu td {
	vertical-align:middle;
	margin: 0px 0px 0px 6px;
	height:22px;
	border: blue 1px solid;
}
td#dstd{
	padding:0px 0px 0px 5px;
}
a#dscbgv{
	padding:0px 0px 0px 5px;
}
div ul li.col1 {
	margin-left: 10px;
	float: left;
}
div ul li.col2 {
	margin-left: 50%;
}

img {
	padding:0px 0px 0px 0px;
}