body { margin:0px; font-family:Arial, Helvetica, sans-serif; background:#FFF; }
#container { width:980px; margin:0px auto 0px; background:#FFFFFF; padding: 1px; font-size:14px; margin-top:0px; }

a{
	text-transform:none;
	color:#333
}
#footer{
	background:#F0F0F0;
	padding:1px;z
	border:#999 dotted 1px;
}
