
BODY
{
	font-family:Verdana,Arial,sans-serif,;
	color:#444444;
	min-height: 100%; /*Sets the min height to the
  height of the viewport.*/
 width: 100%;
 height: 100%; /*Effectively, this is min height
  for IE5+/Win, since IE wrongly expands
  an element to enclose its content.
  This mis-behavior screws up modern
  browsers*/
 margin: 0;
 padding: 0;
 background-image:url('bg.gif');
}
#wrapper1{
    width:952px;
    min-height: 100%;
	height: auto !important;
	height: 100%;
	text-align:left;
    margin: 0 auto -10px;
    padding:0 10px 0px -10px;
}
.bg_pic_shadow {
	background: url(../images/bg_pic_shadow.png) left no-repeat;
	width: 84px;
	height: 8px;
	margin-top: -3px;
	margin-left: -1px;
	z-index: 1;
}
.clearfix{
	clear:both;
	float:none;
}
#bigPic{
	width:640px;
	height:300px;
	padding:1px;
	border:1px solid #CCC;
	background-color:#FFF;
	margin-bottom:10px;
	float: left;
}
#bigPic img{
	position:absolute;
	display:none;
}
ul#thumbs {
	float: right;
	width: 300px;
}

ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;

}
ul#thumbs li{
	opacity: 0.3;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
}
ul#thumbs li.active{
	opacity: 1;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	background: #fff
}

ul#thumbs li{
	margin: 5px;
	cursor:pointer;
}